$font-stack: 'Source Sans Pro', sans-serif;
$header-stack: 'Bevan', serif;
$red: #ae4742;
$red-hl: saturate(lighten($red,15%), 15%);
$blue: #3c5dab;
$blue-hl: saturate(lighten($blue,15%), 15%);

body {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 17px;
}
h1, h2, h3, h4, h4, h5, h6 {
    font-weight: 400;
    font-family: $font-stack;
}
hr.spacer {
    border-color: transparent;
}
a {
    color: $blue;
    font-weight: 400;
    transition: .2s;
    &:hover {
        color: $blue-hl;
        text-decoration: none;
    }
    &.button {
        background: $blue;
        font-size: 1.1rem;
        &:hover {
            background: $blue-hl;
        }
        &.red {
            background: $red;
            &:hover {
                background: $red-hl;
            }
        }
    }
}
@include breakpoint(large up) {
    .row {
        .columns:first-child {
            padding-left: 0;
        }
        .columns:last-child {
            padding-right: 0;
        }
    }
}
input, label {
    font-family: $font-stack !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}
#featured-hero {
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    text-align: center;
    .overlay {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .3);
        a.custom-logo-link {
            img {
                height: 200px;
                width: 200px;
                margin: 7rem auto 3rem auto;
            }
        }
        .bottom-menus {
            font-size: 1.1rem;
            background: rgba(#fff,.8);
            ul {
                li {
                    a {
                        padding: .9rem;
                        font-size: 1.15rem;
                        color: rgba(#000,.7);
                        &:hover {
                            background: rgba(#fff,.7);
                        }
                    }
                }
            }
            .left {
                float: left;
                li:not(:last-child) {
                    border-right: 1px solid rgba(#fff,0.5);
                }
            }
            .right {
                float: right;
                li:not(:first-child) {
                    border-left: 1px solid rgba(#fff,0.5);
                }
            }
            .blue a {
                background: rgba($blue,.7);
                color: rgba(#fff,.9);
                &:hover {
                    background: rgba($blue, .9);
                }
            }
            .red a {
                background: rgba($red,.7);
                color: rgba(#fff,.9);
                &:hover {
                    background: rgba($red, .9);
                }
            }
        }
    }
}
.main-content {
    padding: 2.5rem 0;
}
#page-full-width {
    margin: 5rem auto;
    .main-content {
        padding: 0;
    }
    &.member {
        img.wp-post-image {
            width: 25%;
            float: right;
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }
    &.project {
        img.wp-post-image {
            margin: 2rem auto;
            float: none;
            display: block;
        }
    }
}
#map {
    height: 600px;
}
#legend {
    .legend {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        float: left;
        &.blue {
            background: rgba(#33f,.3);
        }
        &.red {
            background: rgba(#5a5,.3);
        }
    }
}
.faq {
    .q, .a {
        float: left;
        position: relative;
        left: -3rem;
        margin-right: -3rem;
    }
    h3 {
        color: $blue;
    }
    .a {
        color: #000;
    }
    .main-content {
        margin-top: 2rem;
        .entry-content {
            margin-top: 1rem;
        }
    }
}
.home {
    #featured-hero {
        .overlay {
            a.custom-logo-link {
                img {
                    height: 250px;
                    width: 250px;
                }
            }
        }
    }
    .main-content {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
        p {
            margin-bottom: 1.6rem;
        }
    }
}
.archive {
    .members {
        .member {
            font-size: 1.1em;
            margin: .5rem auto;
            img {
                float: left;
                height: 120px;
                width: 120px;
                margin-right: 1rem;
            }
        }
        .columns:last-child:not(:first-child) {
            float: left !important;
        }
    }
    .projects {
        .project {
            text-align: center;
            h3 {
                padding-top: 1rem;
            }
            p.maker {
                margin: .15rem auto;
                font-size: 1.3rem;
            }
        }
        .columns:last-child:not(:first-child) {
            float: left !important;
        }
    }
}
.chaperone {
    max-width: $global-width;
    margin: auto;
}
#site-navigation.top-bar {
    position: fixed;
    width: 100%;
    z-index: 3000;
    background: rgba(#000,.7);
    font-size: 1.1rem;
    .top-bar-left {
        * {
            background: transparent;
        }
        .dropdown {
            text-align: left;
        }
    }
    .top-bar-right {
        * {
            background: transparent;
        }
        .dropdown {
            text-align: right;
        }
    }
    ul.menu {
        > li {
            > a {
                height: auto;
                font: inherit;
                font-weight: 400;
                color: rgba(#fff, .6);
                padding: .8rem;
                &:hover {
                    background: rgba(#000,.75);
                    color: rgba(#fff, .8);
                }
            }
            ul.dropdown {
                background: rgba(#000,.5) !important;
                min-width: 100%;
                li {
                    width: 100%;
                    a {
                        padding: 1rem 2rem;
                    }
                }
            }
        }
    }
}
.frm_form_field {
    font-size: .9em;
    .frm_primary_label {
        font-weight: 400 !important;
    }
    input[type=radio] {
        margin-bottom: 0;
    }
}
#subfooter {
    background: #ddd;
    padding: 1.25rem 0;
    font-size: 1.1rem;
    * {
        font-size: 1.1rem;
    }
    #mc_embed_signup {
        background: transparent;
        input {
            border-radius: 0;
            font-weight: 100 !important;
            padding: .75rem 1rem !important;
            height: auto;
            line-height: 1.5;
            border: 0;
            box-shadow: none;
            display: inline-block;
            letter-spacing: 0;
            margin: 0;
        }
        input[type=submit] {
            background: $blue;
            margin-left: -5px;
            &:hover {
                background: $blue-hl;
            }
        }
    }
}
#footer-container {
    padding: 0;
    border: none;
    margin: 0;
    background: #444;
    color: #ccc;
    font-size: 1.2rem;
    text-align: center;
    .widget {
        clear: both;
        a {
            color: inherit;
        }
    }
    .columns {
        padding: 0;
        &:first-child {
            padding: 3rem 2rem;
        }
    }
    ul#social {
        width: 50%;
        margin: 1rem auto;
        padding-top: 1.5rem;
        text-align: center;
        list-style-type: none;
        clear: both;
        border-top: 1px solid rgba(#fff,.2);
        li {
            display: inline-block;
            a {
                display: inline-block;
                padding: 0 .5rem;
                opacity: .55;
                &:hover {
                    opacity: .9;
                }
            }
            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}
.material-icons {
    vertical-align: middle;
    &.md-18 {
        font-size: 18px;
    }
    &.md-24 {
        font-size: 24px;
    }
    &.md-36 {
        font-size: 36px;
    }
    &.md-48 {
        font-size: 48px;
    }
}
h1, h2, h3, h4, h5, h6 {
    &.header {
        background: $blue;
        color: rgba(#fff,.85);
        padding: .25em;
        font-weight: 100;
        text-align: center;
        &.red {
            background: $red;
        }
    }
}

// event calendar

.tribe-events-button {
    background: $blue !important;
    transition: .2s;
    &:hover {
        background: $blue-hl !important;
    }
}
.tribe-events-calendar {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    thead {
        border: none;
        tr {
            th {
                font-size: 1.2rem;
                text-transform: none;
                font-weight: 100;
                background-color: $blue;
                padding: .75rem;
                letter-spacing: 0;
                border: none;
            }
        }
    }
    tbody {
        border: none !important;
        tr {
            td {
                border-left: none !important;
                border-right: none !important;
                border-top: none !important;
                border-bottom: none !important;
                background: #f9f9f9 !important;
                transition: .2s !important;
                &:hover {
                    box-shadow: none !important;
                    background: #fff !important;
                }
                [id*='tribe-events-daynum-'] {
                    color: #999 !important;
                    background: transparent !important;
                }
                &.tribe-events-othermonth {
                    background: #eee !important;
                    [id*='tribe-events-daynum-'] {
                        background: transparent !important;
                    }
                }
                &.tribe-events-has-events {
                    [id*='tribe-events-daynum-'] {
                        background: saturate(lighten($blue-hl,20%),10%) !important;
                        color: #fff !important;
                        a {
                            background: transparent;
                        }
                    }
                }
                &.tribe-events-present {
                    [id*='tribe-events-daynum-'] {
                        background: $blue-hl !important;
                        color: #fff !important;
                    }
                }
                .tribe-events-tooltip {
                    h4 {
                        color: $blue !important;
                    }
                    .tribe-events-event-body {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
}
.breadcrumbs {
    a {
        color: $blue !important;
        &:hover {
            color: $blue-hl !important;
            text-decoration: none !important;
        }
    }
}
.gallery {
    &.gallery-columns-4 {
        .gallery-item {
            width: 24%;
            padding: 0 1% 1% 0;
            float: left;
        }
    }
    &.gallery-columns-5 {
        .gallery-item {
            width: 19%;
            padding: 0 1% 1% 0;
            float: left;
        }
    }
}